{% extends 'base.html' %}
{% block titulo %}Recetas{% endblock %}
{% block contenido %}


{% include '_menu.html' %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 col-lg-7">
            <h1>Bienvenidos a las recetas de {{session.usuario}}</h1>
            <h3>Recetas publicadas</h3>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Menos 30'</th>
                        <th>Posteado por:</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for receta in all_recetas %}
                    <tr>
                        <td>{{receta.nombre}}</td>
                        <td>
                            {% if receta.menos_30 == 1 %}
                                YES
                            {% else %}
                                NO
                            {% endif %}
                        </td>
                        <td>{{receta.usuario_nombre}} </td>
                        <td>
                            <a href="/recetas/{{receta.id}}">Ver</a>
                            {% if session['usuarios_id']== receta.usuario_id%}
                            | <a href="/recetas/editar/{{receta.id}}">Editar</a>
                            {% endif %}
                            {% if session['usuarios_id']== receta.usuario_id%}
                            | <a href="/recetas/eliminar/{{receta.id}}">Eliminar</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-10 col-lg-4">
            <a class="m-5" href="/recetas/nuevo">Crear</a>
            <a href="/logout">Salir</a>
        </div>
    </div>
</div>


{% endblock %}